# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# Allow .gitignore
!.gitignore

# Allow debugger settings
!.vscode/launch.json
!.vscode/tasks.json

# Allow test files
!test_files/**

# Allow testers
!testers/**

# Allow README
!README.md

# Allow TODO
!TODO.md

# Allow .normignore
!*.normignore

# # Allow the Makefile
!Makefile

# # Allow Criterion files
# !crit_utils.h
